@model CRUD.Models.Product
<h1>Create Product</h1>
<a asp-action="Index" asp-controller="Product">Product List</a>
<br />
<br />


<form action="Create" method="post" enctype="multipart/form-data">
	<label>Name</label>
	<input type="type" name="prodName"  />
	<br />
	<label>Image</label>
	<input type="file" name="prodImage" />
	<br />
	<input type="submit" name="Submit" />

</form>