@model Student;
<h1>Add Student</h1>


<form asp-action="Create" method="post" enctype="multipart/form-data">
	Name: <input asp-for="Name" /> <br />
	Email : <input asp-for="Email" /><br />
	Mobile: <input asp-for="PhoneNumber" /><br />
	Address: <input asp-for="Address" /><br />

	Course:
	<select asp-for="CourseId" asp-items="ViewBag.CourseList">
		<option value="">-- Select Course --</option>
	</select>
	<br />

	Image: <input type="file" asp-for="image" /><br />

	<input type="submit" name="Submit" />
</form>