@model Student;
<h1>Add Student</h1>


<form asp-action="Create" method="post">
	<input asp-for="Name" name="name" value="" />
	<input asp-for="Email" name="name" value="" />
	<input asp-for="Address" name="name" value="" />

	<input type="submit" name="Submit" />
</form>