@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Kurta</h1>

<img src="/img/kurta.webp" height="200" width="auto"  alt="This is a image" />


@{
    int a = 10;
    int b = 30;
    int result = a + b;
}

<h2>@result</h2>